* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Roboto', sans-serif ;
    
}

/* heading */
.heading{
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;

}
.heading img {
    height: 80px;
}
.heading h1 {
    color:white;
    text-align: center;
    margin: 20px 30px 0px;
    

}
.heading h1 span {
    color:yellow
}
h1 span:hover{
    color: rgb(107, 255, 107);
}

/* main div */

.main{
    width: 90%;
    /*
    background-color:yellow;
    */
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    padding: 30px 0px;


}

/*----------- sub1  ---------------- */

.main .sub1{
    width: 550px;
    padding: 20px 0px;
    border-bottom: 2px solid aqua;
    margin-bottom: 50px;

}
.main .sub1 img {
    width: 100%;

}
.main .sub1 .delivery{
    width: 100%;
    height: 100px;
   
    
}
.main .sub1 .delivery img{
   
    width: 100px;
    height: 100px;
}

.main .sub1 .call{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main .sub1 .call a{
    color: black;
    text-decoration: none;
    padding: 5px 25px;
    padding-right:5px ;
    background-color:yellow;
    border-radius: 20px ;
    text-align: center;
    display: flex;
    align-items:center;
    
    

}
.main .sub1 .call a:hover {
    background-color: rgb(107, 255, 107);

}
.main .sub1 .call a .call-outline{
    color: black;
    text-decoration: none;
    border:1px solid pink;
    padding: 5px;
    
    background-color:rgb(255, 255, 255);
    border-radius: 20px ;
    text-align: center;
    margin-left: 15px

}


/*-----------end sub1   ---------------- */


/*----------- sub2  ---------------- */
.main .sub2 {
    width: 450px;
    margin-bottom: 50px;
}
.main .sub2 .links {
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main .sub2 .links .icon {
    background-color: yellow;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    border-radius: 20px;
    margin: 5px 0px;

}
.main .sub2 .links .icon:hover{
    background-color: rgb(107, 255, 107);
    color:white;

}



.main .sub2 .location iframe {
    width: 100%;
    height: 350px;
    
}

/*----------- sub2 end  ---------------- */



/*----------- copy right  ---------------- */
p {
    color: white;
    text-align: center;
    margin-bottom: 20px;

    
} 
p a {
    text-decoration: none;
}


